/* =========================== Import Fonts =========================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

/* =========================== Reset Styles =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*='__container'] {
    max-width: 1600px;
    margin: 0 -15px;
    padding: 0 15px;
    margin: 0 auto;
}



/* =========================== Styles =========================== */
/* =========================== Header =========================== */
.header {
    padding: 20px 0;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 12px;
    background: rgba(58, 58, 58, 0.63);
    border-radius: 10px;
    user-select: none;
}

.header__signin {}

/* =========================== Center =========================== */
.main-page {
    display: flex;
    flex-direction: column;
}

.center {
    flex-grow: 1;
    /* position: relative; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.center.move .center__text {
    animation: moveAnim 1s ease 0s 1 forwards;
}

.center.moveReversed .center__text {
    animation: moveAnimReversed 1s ease 0s 1 forwards;
}

@keyframes moveAnim {
    0% {
        left: 50%;
        width: 1250px;
    }

    100% {
        left: 75%;
        width: 640px;
    }
}

@keyframes moveAnimReversed {
    0% {
        left: 75%;
        width: 640px;
    }

    100% {
        left: 50%;
        width: 1250px;
    }
}

.center.move {
    /* justify-content: flex-end;
    align-items: flex-end; */
}

.center__body {
    flex-grow: 1;
    width: 100%;
}

.center__text {
    position: relative;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%); */
    display: inline-block;
    transform: translateX(-50%);
    user-select: none;
    font-family: Iceland;
    font-size: 96px;
}

/* =========================== Card =========================== */

.card {
    position: relative;
    /* top: 510px; */
    /* transform: translateY(85%); */
    display: inline-block;
    margin-left: 60px;
    transition: all 0.3s ease 0s;
}

.card:hover .body-card {
    /* top: 0px; */
    transform: translateY(-100%);
}

.card:hover .body-card__header::after {
    display: none;
}

.card:hover .body-card__header::before {
    display: none;
}

.card:hover .body-card__header {
    top: -15px;
}

.card__container {}

.card__body {
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0px;
    /* top: -600px; */
    transform: translateY(-15%);
    display: inline-block;
    background: rgba(35, 39, 53, 0.753);
    box-shadow: 7px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    padding: 60px 60px 60px 60px;

}


.body-card {}

.body-card__header {
    position: relative;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
}

.body-card__header::after {
    content: "";
    display: inline-block;
    width: 125px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    background: #FFFFFF;
}

.body-card__header::before {
    content: "";
    display: inline-block;
    width: 62px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    background: #FFFFFF;
}

.body-card__form {}

/* =========================== Form =========================== */

.form {}

.form__input:not(:last-child) {
    margin-bottom: 50px;
}

.form__input input {
    text-align: center;
    padding: 10px;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.form__input input::placeholder {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.form__plate {
    width: 420px;
    height: 3px;
    background: #D9D9D9;
    border-radius: 50%;
}

.form__button {
    text-align: center;
}

.form__button button {
    padding: 14px 100px;
    background-color: #A3F9A2;
    border: 0;
    color: black;
    font-family: Iceland;
    font-size: 24px;
    line-height: 23px;
    text-decoration: underline;

}

/* =========================== Media =========================== */
@media (max-width: 1440px) {
    .center__text {
        font-size: 80px;
    }
}

@media (max-width: 1250px) {
    .center__text {
        text-align: center;
        width: 100%;
        font-size: 64px;
    }

    .body-card {
        display: block;
    }
}

@media (max-width: 890px) {
    .center__text {
        font-size: 42px;
    }
}

@media (max-width: 630px) {
    .center__text {
        font-size: 24px;
    }
}

@media (max-width: 1300px) {
    .card__body {
        padding: 45px;
    }
}

@media (max-width: 1100px) {
    .card__body {
        padding: 30px;
    }
}